<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
    <meta charset="ISO-8859-1">
    <title></title>
</head>
<body>

    <!-- page content -->
    <div class="right_col" layout:fragment="page-content" role="main">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/registro}" class="btn btn-info">Nuevo</a>
        </div>
        
        <div class="alert" th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
		
        <br><br>
        <table class="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>NOMBRES Y APELLIDOS</td>
                <td>EMAIL</td>
                <td>ACCIONES</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.nombre + user.apellido}"></td>
                <td th:text="${user.email}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-sm btn-danger"> <i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>   
    </div>
    <!-- /page content -->
    <th:block layout:fragment="page-scripts">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </th:block>

    
</body>
</html>